		<div id="tool" style="border-top:1px solid #FFF;">
			<div class="navbar navbar-default" role="banner" style="border-top:1px solid #D2D2D2;background:#F0F0F0;">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation2</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">工具栏</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li>
							<a href="#" title="连接"><img src="images/link.png"></a>
						</li>
						<li>
							<a href="#" title="刷新"><img src="images/refresh.png"></a>
						</li>
						<li>
							<a href="#" title="SQL"><img src="images/sql.png"></a>
						</li>
						<li>
							<a href="#"><button type="button" class="btn btn-primary btn-sm">性能监控</button></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

    <div id="index" style="padding-left:20px;padding-right:50px;">