<div ng-controller="Index.Left.Ctrl" ng-container="{}">
   <div id="PublicNav2" class="relativeBox" ng-container="{}">
      <div class="absoluteLeftBox first" ng-container="Left.nav1">
         <div class="button" ng-style="Left.nav1Btn" ng-click="toggleNav2()" ng-container="{height:17}"><i class="fa fa-forward"></i></div>
         <div class="list" ng-container="{offsetY:-17}">
            <ul>
               <li ng-repeat="nav in Left.navMenu track by $index" ng-if="nav.action || nav.list.length > 0" ng-hide="nav.hidden" ng-class="{active:showModuleIndex==$index}">
                  <a ng-if="!nav.action" ng-click="selectLeftModule($index)">
                     <i ng-class="'fa fa-lg ' + nav.icon"></i>
                     <p>{{nav.text}}</p>
                  </a>
                  <a ng-if="nav.action" ng-href="{{nav.action}}" ng-click="selectLeftModule($index)">
                     <i ng-class="'fa fa-lg ' + nav.icon"></i>
                     <p>{{nav.text}}</p>
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="second" id="PublicLeftMenu" ng-container="Left.nav2" ng-if="Left.nav2Show">
         <div style="visibility:hidden;" class="button" ng-style="Left.nav2Btn" ng-click="toggleNav2()" ng-container="{height:17}"><i class="fa fa-backward"></i></div>
         <div class="list" ng-container="{offsetY:-17}">
            <ul>
               <li ng-repeat="menu in Left.navMenu[ showModuleIndex ].list track by $index" ng-if="menu.list.length > 0">
                  <div>{{menu.title}}</div>
                  <ul>
                     <li class="Ellipsis" ng-repeat="list in menu.list track by $index" ng-class="{active:(showModuleIndex==cursorIndex[0] && cursorIndex[1]==$parent.$index && cursorIndex[2]==$index)}">
                        <a style="cursor:pointer;" ng-if="list.type!='spark'" ng-click="gotoModule(showModuleIndex,$parent.$parent.$index,$index)">{{list.name}}</a>
                        <a style="cursor:pointer;" target="_blank" href="" ng-if="list.type=='spark'" ng-href="{{list.href}}">{{list.name}}</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>