<div ng-controller="Deploy.Sdb.Conf.Ctrl" ng-container="{}">
   <div style="border-bottom:1px solid #eee;" step-chart="stepList"></div>
   <div style="padding:10px 15px;" ng-container="{offsetY:-70}">
      <div ng-windows="info as SwitchHostWindow.config" windows-callback="SwitchHostWindow.callback">
         <div ng-if="DeployMode == 'distribution'" style="margin-bottom:10px;">
            <button ng-click="SelectAll()" class="ng-scope btn btn-default">{{autoLanguage("全选")}}</button>&nbsp;
            <button ng-click="Unselect()" class="ng-scope btn btn-default">{{autoLanguage("反选")}}</button>
         </div>
         <div ng-container="{offsetY:-40}" style="overflow-y:auto;">
            <table class="table loosen border">
               <tr style="background-color:#F1F4F5;height:30px;">
                  <td width="30"></td>
                  <td>{{autoLanguage("主机名")}}</td>
                  <td>{{autoLanguage("IP地址")}}</td>
               </tr>
               <tr ng-repeat="hostInfo in HostList track by $index">
                  <td>
                     <input type="checkbox" ng-model="HostList[$index]['checked']" ng-click="HostRadio()" />
                  </td>
                  <td class="Ellipsis" style="word-break:break-all;">{{hostInfo['HostName']}}</td>
                  <td class="Ellipsis" style="word-break:break-all;">{{hostInfo['IP']}}</td>
               </tr>
            </table>
         </div>
      </div>
      <div ng-container="{offsetY:-45}">
         <div class="pull-left" ng-container="{width:400}">

            <div style="height:30px;font-size:110%;font-weight:bold;">{{autoLanguage("服务配置")}}</div>

            <div class="borderBox" style="padding:10px;font-size:90%;" ng-container="{offsetY:-30}">

               <div style="margin-top:10px;">
                  <button class="btn btn-default" ng-click="ShowSwitchHost()">{{autoLanguage("选择安装服务的主机")}}</button>
               </div>

               <div style="margin-top:20px;">
                  <div class="pull-left" style="width:130px;">{{autoLanguage("存储集群名")}}</div>
                  <div class="pull-left Ellipsis" style="padding-left:10px;width:238px;">{{ModuleName}}</div>
                  <div class="clear-float"></div>
               </div>

               <div style="margin-top:10px;" form-create para="ConfForm1"></div>

               <div style="margin-top:10px;" form-create para="ConfForm2"></div>

            </div>

         </div>
         <div class="pull-left" ng-container="{offsetX:-410,marginLeft:10}">

            <div style="height:30px;font-size:110%;font-weight:bold;">{{autoLanguage("服务预览")}}</div>

            <div class="borderBox" style="padding:10px;overflow-y:auto;overflow-x:hidden;position:relative;" ng-container="{offsetY:-30}">

               <div style="margin-top:10px;">
                  <table class="table loosen simple" style="color:#666;font-size:90%;">
                     <tr>
                        <td style="width:150px;font-weight:bold;">{{autoLanguage("主机数")}}</td>
                        <td>{{Conf1['HostNum']}}</td>
                     </tr>
                     <tr>
                        <td style="width:150px;font-weight:bold;">{{autoLanguage("总节点数")}}</td>
                        <td>{{Conf1['SumNode']}}</td>
                     </tr>
                     <tr>
                        <td style="width:150px;font-weight:bold;">{{autoLanguage("总磁盘数")}}</td>
                        <td>{{Conf1['DiskNum']}}</td>
                     </tr>
                     <tr>
                        <td style="width:150px;font-weight:bold;">{{autoLanguage("节点分布率")}}</td>
                        <td>{{Conf1['nodeSpread']}}</td>
                     </tr>
                  </table>
               </div>

               <div style="margin-top:20px;">
                  <table class="table loosen simple" style="color:#666;font-size:90%;">
                     <tr>
                        <td style="width:150px;font-weight:bold;">{{autoLanguage("总容量")}}</td>
                        <td>{{Conf2['TotalSize']}}</td>
                     </tr>
                     <tr>
                        <td style="width:150px;font-weight:bold;">{{autoLanguage("可用容量")}}</td>
                        <td>{{Conf2['ValidSize']}}</td>
                     </tr>
                     <tr>
                        <td style="width:150px;font-weight:bold;">{{autoLanguage("冗余容量")}}</td>
                        <td>{{Conf2['RedundancySize']}}</td>
                     </tr>
                     <tr>
                        <td style="width:150px;font-weight:bold;">{{autoLanguage("冗余度")}}</td>
                        <td>{{Conf2['Redundancy']}}</td>
                     </tr>
                  </table>
               </div>

               <div style="margin-top:20px;height:300px;" create-chart="RedundancyChart"></div>

            </div>

         </div>
         <div class="clear-float"></div>
      </div>

      <div style="text-align:center;" ng-container="{height:30,marginTop:20}">
         <button class="btn btn-default" ng-if="DeployType == 'Deploy' || DeployType == 'Module'" ng-click="GotoDeploy()"><i class="fa fa-chevron-left"></i> {{autoLanguage("返回")}}</button>
         &nbsp;&nbsp;&nbsp;
         <button class="btn" ng-class="{'true':'btn-primary','false':'btn-danger'}[IsAllClear]" ng-click="GotoModSdb()">{{autoLanguage("下一步")}} <i class="fa fa-chevron-right"></i></button>
      </div>

   </div>

</div>
