<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--this xml is for ci, please don't modify it-->
<!--testcase for function test, which can be excuted concurrently-->

<suite name="driver" verbose="1" parallel="classes" thread-count="5">

    <!--主机名，CI默认传入localhost-->
    <parameter name="HOSTNAME"       value="${HOSTNAME}" />
    <!--协调节点端口号，CI默认传入11810-->
    <parameter name="SVCNAME"        value="${SVCNAME}" />
    <!--全文索引ES端主机名，CI默认传入192.168.28.143-->
    <parameter name="ESHOSTNAME"     value="${ESHOSTNAME}" />
    <!--全文索引ES端端口号，CI默认传入9200-->
    <parameter name="ESSVCNAME"      value="${ESSVCNAME}" />
    <!--数据源集群端主机名，CI默认传入localhost-->
    <parameter name="DSHOSTNAME"     value="${DSHOSTNAME}" />
    <!--数据源集群端端口号，CI默认传入11810-->
    <parameter name="DSSVCNAME"      value="${DSSVCNAME}" />
    <!--全文索引前缀，CI传入与工程名相关，例如NORMALTESTG3D3-->
    <parameter name="FULLTEXTPREFIX" value="${FULLTEXTPREFIX}" />
    <!--公共CS名-->
    <parameter name="CHANGEDPREFIX"  value="story_java_test" />
    <!--用例创建节点预留端口号最小值-->
    <parameter name="RSRVPORTBEGIN"  value="26000" />
    <!--用例创建节点预留端口号最大值-->
    <parameter name="RSRVPORTEND"    value="27000" />
    <!--用例创建节点存放节点数据目录-->
    <parameter name="RSRVNODEDIR"    value="/opt/sequoiadb/database/" />
    <!--用例存放临时文件的目录-->
    <parameter name="WORKDIR"        value="/tmp/javatest" />

    <listeners>
        <listener class-name="com.sequoiadb.testcommon.TimePrinterListener" />
    </listeners>

    <test name="normaltest" parallel="classes" thread-count="5">
        <packages>
            <!--package name="com.sequoiadb.alter" /-->
        </packages>
    </test>

</suite>

