<div ng-controller="Monitor.HostList.Index.Ctrl" ng-container="{}">
   <div style="background:#F4F4F4;" ng-container="{height:57}">
      <div class="nav-new">
         <div ng-click="GotoNodeList()" >{{autoLanguage("节点")}}</div>
         <div ng-click="GotoResources()">{{autoLanguage("资源")}}</div>
         <div class="active" ng-click="GotoHostList()">{{autoLanguage("主机")}}</div>
         <!--<div ng-click="GotoUser()">{{autoLanguage("安全")}}</div>-->
      </div>
   </div>
   <div style="padding:8px 15px 10px 15px;" ng-container="{offsetY:-60}">
      <div class="underlineTab" style="padding-top:10px;border-top:2px solid #F0F0F0;" ng-container="{height:50,marginTop:10}">
         <ul class="left">
            <li class="active">
               <a href="#/Monitor/SDB-Host/List/Index">{{autoLanguage("主机列表")}}</a>
            </li>
            <li>
               <a href="#/Monitor/SDB-Host/List/Charts">{{autoLanguage("图表")}}</a>
            </li>
            <li>
               <a href="#/Monitor/SDB-Host/List/HostsSnapshot">{{autoLanguage("主机快照")}}</a>
            </li>
         </ul>
      </div>

      <div ng-container="{offsetY:-70,marginTop:15}" ng-table="HostTable['options']" table-title="HostTable['title']" table-content="hostInfo in HostTable['body']" table-callback="HostTable['callback']">
         <div class="Ellipsis" table-key="HostName">
            <a class="linkButton" ng-click="GotoHost(hostInfo['HostName'])">{{hostInfo['HostName']}}</a>
         </div>
         <div class="Ellipsis" table-key="IP">{{hostInfo['IP']}}</div>
         <div class="Ellipsis" table-key="AgentService">{{hostInfo['AgentService']}}</div>
         <div class="Ellipsis" table-key="CPU">{{hostInfo['CPU']}}</div>
         <div class="Ellipsis" table-key="MemorySize">{{hostInfo['MemorySize']}}GB</div>
         <div class="Ellipsis" table-key="DiskSize">{{hostInfo['DiskSize']}}GB</div>
         <div class="Ellipsis" table-key="OS.Description">{{hostInfo['OS']['Description']}}</div>
         <div class="Ellipsis" table-key="Net.length">{{hostInfo['Net'].length}}</div>
      </div>

   </div>
</div>