<div class="modal2" style="position:fixed;" ng-if="Setting.isShow" ng-container="Setting.Windows">
   <div class="header">
      <table>
         <tbody>
            <tr>
               <td class="icon"><i class="fa fa-lg" ng-class="Setting.Icon"></i></td>
               <td class="title" ng-dblclick="switchModalSize()" ng-mousedown="startMove($event)">{{Setting.Title}}</td>
               <td class="tool">
                  <div class="maximize" ng-if="Setting.Status == 1" ng-click="maximumModal()"></div><div class="restore" ng-if="Setting.Status == 2" ng-click="recoveryModal()"></div><div class="close" ng-click="closeModal()"></div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="body" style="+zoom:1;" ng-style="Setting.Body" ng-container="{offsetY:-84}"></div>
   <div class="foot">
      <button class="btn btn-primary" ng-if="Setting.Button.OK.Func !== null" ng-click="ok()">{{Setting.Button.OK.Text}}</button>&nbsp;&nbsp;<button class="btn btn-default" ng-click="closeModal()">{{Setting.Button.Close.Text}}</button>
   </div>
   <div class="sizeBtn" ng-mousedown="startSetSize()"></div>
</div>