<div id="ModuleBox" style="overflow-y:auto;overflow-x:hidden;+zoom:1;+position:relative;" ng-controller="Data.Overview.Index.Ctrl"  >
   <div id="DataList" style="padding:10px 0 0 0;">
      <div id="DataBoxList" style="+zoom:1;+position:relative;">
         <div ng-repeat="moduleInfo in QueryModule track by $index" create-response="{len:QueryModule.length,index:$index,min:660,max:1980}">
            <div ng-class="moduleInfo.color" class="DataListBox">
               <div ng-if="moduleInfo.errno == 0" style="height:295px;">
                  <div class="DataTitle">
                     <span class="linkButton ModuleName" ng-click="gotoDatabase($index)">{{moduleInfo.BusinessName}}</span> (<span class="ModuleType">{{moduleInfo.BusinessType}} - {{moduleInfo.WebDeployMod}}</span>) <span class="status success">{{moduleInfo.status1}}</span>
                  </div>
                  <div class="DataSubTitle">{{moduleInfo.status2}}</div>
                  <div class="DataSubTitle" ng-bind="moduleInfo.detail"></div>
                  <div style="+zoom:1;+position:relative;">
                     <div style="height:220px;width:400px;float:left;" create-chart="moduleInfo.chart"></div>
                     <div style="height:200px;width:200px;float:left;" para="moduleInfo.info" create-cylinder></div>
                     <div class="clear-float"></div>
                  </div>
               </div>
               <div ng-if="moduleInfo.errno != 0" style="height:295px;">
                  <div class="DataTitle">
                     <span class="ModuleName error">{{moduleInfo.BusinessName}}</span> (<span class="ModuleType">{{moduleInfo.BusinessType}} - {{moduleInfo.WebDeployMod}}</span>) <span class="status error">{{moduleInfo.status1}}</span>
                  </div>
                  <div class="DataSubTitle">{{moduleInfo.status2}}</div>
                  <div class="DataSubTitle" ng-bind="moduleInfo.detail"></div>
                  <span class="DataSubTitle" ng-bind="moduleInfo.description"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>