@charset "UTF-8";
*:focus{outline:none;}
html{ overflow-x:auto;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}   
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none; margin:0; padding:0;}
a {text-decoration:none;}
em,i{font-style:normal;}
.clear{ clear:both;}
input[type="submit"],input[type="button"]{ cursor:pointer;}

body
{
   padding: 0px ;
   font-family: "msyh", "simsun", "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
   font-style: normal ;
   font-variant: normal ;
   font-weight: normal ;
   word-wrap: break-word ;
   font-size: 14px ;
   counter-reset: h1 ;
}

h1:before
{
   counter-increment: h1;
   content: "第 " counter( h1 ) " 章  ";
}

h1
{
   display: block ;
   font-size: 40px ;
   margin: 50px 0px 60px 0px ;
   font-weight: bolder ;
   counter-reset: h2 ;
}

h2:before
{
   counter-increment: h2 ;
   content: counter( h1 ) "." counter( h2 ) "  " ;
}

h2
{
   font-size: 24px ;
   margin: 24px 0px 20px 0px ;
   font-weight: bolder ;
   counter-reset: h3 ;
}

h3:before
{
   counter-increment: h3 ;
   content: counter( h1 ) "." counter( h2 ) "." counter( h3 ) "  " ;
}

h3 {
   font-size: 20px ;
   margin: 16px 0px 16px 0px ;
   font-weight: bolder ;
}

h4, h5, h6
{
   font-size: 18px ;
   font-weight: bolder ;
}

div
{
   font-size: 14px ;
   margin: 0px 4px 0px 4px ;
}

p
{
   font-size: 14px ;
   margin: 8px 4px 8px 4px ;
   line-height: 28px ;
   letter-spacing: -.003em ;
}

.subsection_header_2
{
   font-size: 16px ;
   font-weight: bold ;
}

.subsection_header_3, .subsection_header_4
{
   font-size: 14px ;
   font-weight: bold ;
}

.page_break
{
   page-break-after: always ;
}

a
{
   font-size: 14px ;
}

a:link, a:visited, a:hover, a:active
{
   color: #1492FA ;
}

hr{ display: block; -webkit-margin-before: 0.5em; -webkit-margin-after: 0.5em; -webkit-margin-start: auto; -webkit-margin-end: auto; border-style: inset; border-width: 1px; }

em{ font-style:italic; }

dd{ margin:0 0 0 30px; }

/* table */
table
{
   width: 100% ;
   font-size : 12px ;
   border: 0 ;
   border-collapse : collapse ;
   text-align: left ;
   background: #eee ;
   margin: 8px 8px 8px 8px ;
}

table thead
{
   display: table-header-group ;
}

table tfoot
{
   display: table-row-group ;
}

table th
{
   word-wrap: break-word ;
   white-space: nowrap ;
   padding: 10px 10px ;
   color: #669 ;
   font-weight: bold ;
   border-bottom: 2px solid #6678b1 ;
}

table tr
{
   page-break-inside : avoid ;
}

table td
{
   word-wrap: break-word ;
   padding: 8px 10px 8px 10px ;
   color: #669 ;
}

/* note */
blockquote
{
   font-family: "msyh", "Consolas" , "Courier New" , "Courier", mono, serif ;
   font-size: 12px ;
   line-height: 18px ;
   background: #eee ;
   color: #666 ;
   margin: 10px 10px 10px 10px ;
   padding: 10px 10px 10px 10px ;
}

/* code */
pre
{
   font-family: "msyh", "Consolas" , "Courier New" , "Courier", mono, serif ;
   font-size: 12px ;
   line-height: 24px ;
   background: #eee ;
   color: #666 ;
   margin: 10px 10px 10px 10px ;
   padding: 10px 10px 10px 10px ;
}

.code{ font-size:12px; background-color:#E7E5DC; width:auto; padding-top:1px; text-align:left; font-family:"Consolas" , "Courier New" , Courier, mono, serif; margin:10px 0 10px 0; }
.code > ol{ font-size:12px; list-style:decimal; margin:0px 0px 1px 45px !important; background-color:#fff; padding:0px; color:#5C5C5C; width:auto; }
.code > ol > li{ font-size:12px; background-color:#FFF; list-style:decimal-leading-zero; list-style-position:outside !important; border-left:3px solid #6CE26C; padding:2px 3px 2px 10px !important; margin:0 !important; line-height:150%; word-wrap:break-word; }
.code > ol > li:nth-child(2n+1){ background-color:#EEE; }
.code .alt { background-color:#EEE; color:inherit; }
.code .alt > span{ font-weight:bold; }

.figure > img { max-width: 800px; }

ul { padding-left:20px; }
ul > li { list-style-type:disc; margin:5px 0 0 0; line-height:22px; }

ol{ display:block; list-style-type:decimal; -webkit-margin-before:1em; -webkit-margin-after:1em; -webkit-margin-start:0px; -webkit-margin-end:0px;-webkit-padding-start:30px; }
ol > li{ display:list-item; text-align: -webkit-match-parent; list-style-type:decimal; }

