<configuration scan="true" scanPeriod="60" debug="false">
    <property name="LOG_PATH" value="log" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/sequoias3.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/sequoias3.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%c:%L][%thread]:%msg %n</pattern>
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} -%msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http" level="INFO"/>
    <logger name="org.springframework" level="INFO"></logger>
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="stdout"/>
    </root>
    <!--<logger name="org.apache.http" level="DEBUG"/>-->
    <!--<root level="DEBUG">-->
        <!--<appender-ref ref="FILE"/>-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</root>-->

</configuration>