<div style="padding:10px 15px;" ng-controller="Data.MySQL.Structure.Ctrl" ng-container="{}">
   <div class="underlineTab" ng-container="{height:50}">
      <ul class="right">
         <li class="text Ellipsis" style="width:350px;">
            <b><a class="linkButton" href="#/Data/SequoiaSQL/MySQL/Database/Index">{{ModuleName}}</a> <span style="font-size:80%; color:#666;">></span> {{FullName}}</b>
         </li>
         <li class="active">
            <a href="#/Data/SequoiaSQL/MySQL/Operate/Structure">{{pAutoLanguage("表信息")}}</a>
         </li>
         <li>
            <a href="#/Data/SequoiaSQL/MySQL/Operate/Data">{{pAutoLanguage("数据")}}</a>
         </li>
      </ul>
   </div>
   <div ng-container="{height:30}">
      <div ng-dropdown="config in IndexDropdown.config" dropdown-event="IndexDropdown.event" dropdown-callback="IndexDropdown.callback">
         <span class="Ellipsis" style="padding:8px 10px;display:block;" ng-click="IndexDropdown.OnClick($index)">&nbsp;{{config.key}}</span>
      </div>
      <div ng-dropdown="config in EditFieldDropdown.config" dropdown-event="EditFieldDropdown.event" dropdown-callback="EditFieldDropdown.callback">
         <span class="Ellipsis" style="padding:8px 10px;display:block;" ng-click="EditFieldDropdown.OnClick($index)">&nbsp;{{config.key}}</span>
      </div>
      <div ng-windows="form as AddFieldWindow.config" windows-callback="AddFieldWindow.callback">
         <div form-create para="form"></div>
      </div>
      <div ng-windows="form as CreateIndexWindow.config" windows-callback="CreateIndexWindow.callback">
         <div form-create para="form"></div>
      </div>
      <div ng-windows="form as DropIndexWindow.config" windows-callback="DropIndexWindow.callback">
         <div form-create para="form"></div>
      </div>
      <div ng-windows="form as SetfFieldDefaultWindow.config" windows-callback="SetfFieldDefaultWindow.callback">
         <div form-create para="form"></div>
      </div>
      <div ng-windows="form as EditFieldWindow.config" windows-callback="EditFieldWindow.callback">
         <div form-create para="form"></div>
      </div>
      <div ng-windows="form as SetPrimaryWindow.config" windows-callback="SetPrimaryWindow.callback">
         <div form-create para="form"></div>
      </div>

      <div ng-windows="list as IndexListWindow.config" windows-callback="IndexListWindow.callback">
         <table class="table loosen border">
            <tr>
               <th style="width:20%;background-color:#F1F4F5;">Key_name</th>
               <th style="width:20%;background-color:#F1F4F5;">Column_name</th>
               <th style="width:20%;background-color:#F1F4F5;">Seq_in_index</th>
               <th style="width:20%;background-color:#F1F4F5;">Sub_part</th>
               <th style="width:20%;background-color:#F1F4F5;">Is_unique</th>
            </tr>
            <tr ng-repeat="info in list track by $index">
               <td>{{info['INDEX_NAME']}}</td>
               <td>{{info['COLUMN_NAME']}}</td>
               <td>{{info['SEQ_IN_INDEX']}}</td>
               <td>{{info['SUB_PART']}}</td>
               <td>{{info['NON_UNIQUE']==0?true:false}}</td>
            </tr>
         </table>
      </div>
      <button class="topBtn" ng-click="QueryTableStruct()"><i class="fa fa-refresh"></i> {{pAutoLanguage("刷新")}}</button>
      <button class="topBtn" ng-click="ShowAddField()"><i class="fa fa-plus"></i> {{pAutoLanguage("添加字段")}}</button>
      <button class="topBtn" ng-click="ShowIndexDropdown($event)">{{pAutoLanguage("索引操作")}} <i class="fa fa-caret-down"></i></button>
      <button class="topBtn" ng-click="ShowIndexList()">{{pAutoLanguage("查看索引")}}</button>
      <div class="clear-float"></div>
   </div>
   <div ng-container="{marginTop:10,offsetY:-93,offsetX:-15}" ng-controller="Data.MySQL.Structure.Table.Ctrl" ng-table="GridTable['options']" table-title="GridTable['title']" table-content="info in GridTable['body']" table-callback="GridTable['callback']">
      <div class="Ellipsis" table-key="index">{{$index+1}}</div>
      <div class="Ellipsis" table-key="COLUMN_NAME">{{info.COLUMN_NAME}}</div>
      <div class="Ellipsis" table-key="operation">
         <a class="linkButton" ng-click="ShowEditFieldDropdown( $event, info )" ng-attr="{'data-desc':pAutoLanguage('编辑字段')}"><i class="fa fa-edit"></i></a>
         <a class="linkButton" ng-click="ShowDropFieldWindow( info['COLUMN_NAME'] )" ng-attr="{'data-desc':pAutoLanguage('删除字段')}"><i class="fa fa-remove"></i></a>
      </div>
      <div class="Ellipsis" table-key="DATA_TYPE">{{info.COLUMN_TYPE}}</div>
      <div class="Ellipsis" table-key="COLUMN_DEFAULT">{{info.COLUMN_DEFAULT}}</div>
      <div class="Ellipsis" table-key="IS_NULLABLE">{{info.IS_NULLABLE=='YES'?true:false}}</div>
      <div class="Ellipsis" table-key="COLUMN_COMMENT">{{info.COLUMN_COMMENT}}</div>
   </div>
</div>